@media(max-width:670px){



  .theme{
    display: block;
    text-align: center;


  }
  .h_p{
    text-align: center;
  }
  .h_nav button{

    width:50%;
  }
  .app{
    display: inline-block;
  }
  header{
    width:100%;
  }

  main{
    margin-top:250px;
    flex-direction: column-reverse;
    width:100%;

  }
  .general{
    margin-top:20px;
    width:100%;

  }
  .beauty{
    width:100%

  }
  #side_main{
    max-width:100%;
    margin:auto;

  }
  #side_main img{
    max-width:100%;
  }
  .new_info{
    max-width:100%;
    min-height:740px;



  }
 .new_info p{
    flex-direction:column;



  }



  #hos_intro{
    width:100%;
    margin:auto;
    height:auto;
  }
  #medical_intro{
    width:100%;
    margin:auto;
  }
  #staff_intro{
    width:100%;
    margin:auto;
  }
  .img_history{
    display:block;
  }
  .pro1{
    max-width:80%;
  }
  #access{
    width:100%;
    margin:auto;
  }
  .access_info{
    display:block;
  }
  .side_info{
    margin-left:30px;
  }
  .pro_img{
    max-width:70%;
  }
  footer{
    width:100%;
  }
  .f_nav {
   box-sizing:border-box;
   height:auto;
}
  .f_nav ul{
    display: block;
  }
  .dental{
    display:block;
  }
  .f_ad p{
    flex-direction:column;
    text-align:left;
  }
